@import url('./font.css');

:lang(fa){
    direction: rtl;
}
form{
    /* background-color: lightgray; */
    padding: 11px;
    border-radius: 8px;
}
form div{
    width: 60%;
}
input,textarea,select{
    width: 100%;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    margin: 4px;
    outline: 4px solid transparent;
    font-family: Vazir;
}
textarea:focus,input:focus{
    outline: 4px solid rgba(1, 133, 241, 0.589);
    border: 1px solid rgba(1, 25, 241, 0.589);
}
/* {
    outline: none;
    font-size: 13px;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #797979;
    font-family: Vazir;
} */
textarea{
    resize: vertical;
}
input[type="submit"] {
    width: 50%;
    background-color: #00a7bd;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 4px;
}
.success-alert{
    background-color: greenyellow;
    border: 3px solid green;
    padding: 20px;
    border-radius: 4px;
}