datalist.show{
    display: block;
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    left: 10px;
}
datalist div{
    padding: 8px;
}
datalist img{
    width: 40px;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 4px;
}
datalist a{
    font-size: 1.2em;
}