@import url('./font.css');

body{
    background-color: rgb(236, 236, 236);
    direction: rtl;
}
#edit{
    width: 65%;
    min-width: 350px;
    margin: 0 auto 0 auto;
    background-color: white;
    padding: 24px;
    border: 1px solid gray;
    border-radius: 8px;
    vertical-align: middle;
}
#edit>#form_title{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.filled-tonal-button{
    border-radius: 20px;
    padding: 0 24px;
    text-align: center;
    height: 40px;
    background-color: #E8DEF8;
    color: #1E192B;
    border: 0;
}
.input_sections{
    width: 100%;
    padding: 5px 0;
}
.input_sections>.input_section{
    width: 49%;
    display: inline-block;
}
.edit_input{
    width: 85%;
    outline: none;
    font-size: 18px;
}
#edit_form button[type='submit']{
    min-width: 200px;
    outline: none;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 24px;
}