@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.ttf');
}
@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.ttf');
    font-weight: bold;
}
body,input,textarea,button,select{
    font-family: Vazir;
}