body#body-container{
    display: grid;
    min-height: 100vh;
}
.grid-display{
    display: grid;
}
header#header{
    grid-column: 1/3;
}
nav#navigation-bar{
    grid-column: 1/3;
}
main#container{

}
aside#sidebar{

}
footer#footer{
    grid-column: 1/3;
}
.grid-30-70{
    grid-template-columns: 30% 70%;
}
.grid-35-65{
    grid-template-columns: 35% 65%;
}
.grid-20-80{
    grid-template-columns: 20% 80%;
}
.grid-25-75{
    grid-template-columns: 25% 75%;
}
.grid-50-50{
    grid-template-columns: 50% 50%;
}
.grid-100{
    grid-template-columns: 100%;
}
.grid-70-30{
    grid-template-columns: 70% 30%;
}
.grid-40-60{
    grid-template-columns: 40% 60%;
}