a{
    text-decoration: none;
}
#header{
    
}
#header .site-brand{
    
}
.header .site-brand .image-brand{
    width: 50px;
    vertical-align: middle;
}
.header .site-brand .link-brand{
    vertical-align: middle;
    font-size: 1.5em;
    color: var(--on-secondary-container);
    font-weight: bolder;
    margin: 8px;
}
.header .header-action{
    text-align: end;
}
.header .header-action i{
    color: var(--on-secondary-container);
}
.header .header-action i.action{
    vertical-align: middle;
    font-size: 2em;
    padding: 4px;  
}
.header .header-action .action.first{
    border-left: 1px solid gray;
    padding-left: 8px;
}
.header{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    padding: 8px;
    height: 70px;
}
.header{
    
}