#SidebarIcon{
    color: white;
    display: inline-block;
}
#navigation-bar{
    
}
.navbar.bg-dark{
    background-color: var(--on-primary-container);
}
.list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list_item{
    display: inline-block;
    padding: 8px;
}
.link{
    display: block;
    color: whitesmoke;
}
.stiky_nav{
    position: sticky;
    top: -1px;
    z-index: 999;
}
/* Tablet */
@media only screen and (min-width:540px)  {
    #SidebarIcon{
        display: inline-block;
    }
}
/* Desktop */
@media only screen and (min-width:1000px) {
    #SidebarIcon{
        display: none;
    }
}