.productView{

}
.productView_image .image{
    border-radius: 8px;
    width: 100%;
    border: 1px solid rgb(100, 100, 100);
}
.productView_detail{
    padding: 0 20px 0 0;
}
.productView_detail h1,.productView_detail h3,.productView_detail h6{
    padding: 0;
    margin: 0;
}
.productView_detail_title{
    margin-bottom: 5px;
}
.productView_detail_score i{
    color: #ff9800;
}
.productView_form_service{
    margin-bottom: 8px;
}
.productView_form_service_title{
    font-size: large;
}
.productView_form_service_list{
    list-style: none;
    margin: 0;
}
.productView_form_service_list_item{
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #9c9c9c;
    padding: 12px 8px;
    font-size: larger;
    width: max-content;
    height: 50px;
    vertical-align: bottom;
}
.productView_form_service_list_item.active{
    outline: 2px solid rgba(4, 243, 243, 0.692);
    background-color: rgba(0, 255, 255, 0.336);
}
.productView_form_service_list_item label,.productView_form_service_list_item img,.productView_form_service_list_item input{
    vertical-align: middle;
}
.productView_form_service_list_item_icon{
    width: 30px;
    margin: 4px;
}
.productView_form_order{
    background-color: white;
    border-radius: 28px;
    border: 1px solid #9c9c9c;
    padding: 12px 8px 8px 8px;
    height: fit-content;
}
.productView_form_order_btn{
    background-color: rgb(4, 212, 212);
    color: white;
    padding: 8px 4px;
    border: none;
    font-size: larger;
    text-align: center;
    border-radius: 8px;
    display: block;
}
.productView_form_order_heading{
    /* display: block; */
    font-size: medium;
    margin: 4px 0;
}
.productView_form_order_price{
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
}
/* input[type='radio']{
    display: none;
} */
.price_component{
    font-weight: 100;
    font-size: 0.6em;
    color: gray;
    margin-right: 4px;
}