#sidebar{
    
}
.sidebar{
    overflow: hidden;
    border-radius: 8px;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    transition-delay: 0.2s ;
    transition: all 0.5s;
}
.sidebar.show{
    padding: 8px 4px;
    width: 70vw;
}
.backsidebar{
    display: none;
    background-color: #00000078;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
}
.backsidebar.show{
    display: block;
}
.sidebar .nav_item i{
    font-size: large;
}
.sidebar .nav_item i,a{
    vertical-align: middle;
}
.light-side{
    background-color: var(--primary-container);
    color: black;
}
.dark-side{
    background-color: gray;
    color: white;
}
.materila_side{
    border-radius: 24px;
    padding: 12px 0;
    margin: 4px;
    overflow: hidden;
}
.fixed_sidebar{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0 ;
}
/* Tablet */
@media only screen and (min-width:540px)  {
    .backsidebar{
        display: none;
    }
    .sidebar.show{
        padding: 8px 4px;
        width: 50vw;
    }
}
/* Desktop */
@media only screen and (min-width:1000px) {
    .sidebar{
        padding: 8px 4px;
        width: auto;
        position: static;
        background-color: var(--on-primary);
        border-radius: 16px;
        padding: 8px 4px;
    }
}