.row{
    padding: 5px;
}
.filled-button{
    border-radius: 20px;
    padding: 0 24px;
    text-align: center;
    height: 40px;
    background-color: #6750A4;
    color: #FFFFFF;
    border: 0;
}
.filled-button i{
    width: 18px;
    color: #FFFFFF;
    margin-right: 8px;
    margin-left: -6px;
}
.filled-tonal-button{
    border-radius: 20px;
    padding: 0 24px;
    text-align: center;
    height: 40px;
    background-color: #E8DEF8;
    color: #1E192B;
    border: 0;
    font-size: 1em;
    font-weight: bold;
}
.filled-tonal-button i{
    width: 18px;
    color: #1E192B;
    margin-right: 8px;
    margin-left: -6px;
}
.outline-button{
    border-radius: 20px;
    padding: 0 24px;
    text-align: center;
    height: 40px;
    background-color: #FFFBFE;
    border: 1px solid #79747E;
    color: #6750A4;
}
.outline-button i{
    width: 18px;
    color: #6750A4;
    margin-right: 8px;
    margin-left: -6px;
}
.text-button{
    border-radius: 20px;
    padding: 0 24px;
    text-align: center;
    height: 40px;
    background-color: #FFFBFE;
    border: 0;
    color: #6750A4;
}
.text-button i{
    width: 18px;
    color: #6750A4;
    margin-right: 8px;
    margin-left: -6px;
}

.btn{
    padding: 8px 12px;
    border-radius: 24px;
    font-size: 1.2em;
    border: 0;
    text-align: center;
    margin: 4px;
}
button.full-btn,input.full-btn{
    display: inline;
    width: 100%;
}
.full-btn{
    display: block;
}
.btn-primary{
    background-color: var(--primary);
    color: var(--on-primary);
}
.btn-success{
    background-color: rgb(13, 235, 98);
    color: white;
}
.btn-success:hover,.btn-primary:hover{
    background-color: gainsboro;
    color: black;
}