.infosmallbox{
    background-color: gainsboro;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    margin: 4px;
}
.infosmallbox_icon{
    display: inline-block;
    background-color: rgb(255, 0, 0);
    vertical-align: middle;
    padding: 18px;
    border-radius: 8px;
}
.infosmallbox i{
    font-size: 1.7em;
    color: white;
}
.infosmallbox_content{
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}
.infosmallbox_content_head{
    font-size: 1.2em;
    color: black;
}
.infosmallbox_content_value{
    font-size: 1em;
}