
.card{
    width: 18rem;
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    box-shadow:  0 0 7px -2px #000000;
    margin: 4px;
}
.card a{
    color: initial;
}
.filled.card{
    background-color: #E7E0EC;
}
.filled.card:hover{
    background-color: rgba(28,27,31,15%);
}
.card-img-top{
    width: 100%;
}
.card-body{
    margin-top: -8px;
    padding: 16px;
}
.card a{
    text-decoration: none;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.card-text{
    color: #838080;
}
.secondary-title{
    color: #615c5c;
}
.card .btn{
    border-radius: 24px;
    padding: 8px 24px;
    text-align: center;
    height: 40px;
} 
.filled.card .btn-primary{
    color: #6750A4;
    background-color: #FFFFFF;
    border: 1px solid gray;
}
.cards-section{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
}
.filled.card i{
    font-size: larger;
}
.filled.card .far.fa-heart{
    color: black;
}
.filled.card .fas.fa-heart{
    color: red;
}
.filled.card .fa-bookmark{
    color: black;

}