.swiper-slide{
  background-image: url('../assets/images/livan.jpg');
}

.swiper>.swiper-wrapper{
  width:100%;
  height:500px;
}
.swiper>.swiper-wrapper>.swiper-slide{
  background-image: url('../assets/images/livan.jpg');
  border-radius: 8px;
}