.table{
    margin-top: 12px;
    /* display: block; */
    border-spacing: 0;
    border-radius: 4px;
    width: 100%;
    border: 1px solid ;
    background-color: #FFFFFF;
}
tr,th,td{
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid ;
    text-align:center;
}
.table tr{
    height: 52px;
    border-bottom: 1px solid ;
}
.table tr:last-child td,.table tr:last-child th{
    border: none;
}
.table:first-child{
    height: 56px;
    color: inherit;
    border-top: 1px solid ;
}
.table td{
    color: inherit;
    font-size: 0.55em;
}
.table th{
    font-size: 0.8em;
}
table tbody:first-child{
    border: 0px;
}
/* Tablet */
@media only screen and (min-width:540px)  { 
    .table td{
        padding: 0 8px;
        color: inherit;
        font-size: 0.9em;
    }
    .table th{
        font-size: 1.1em;
    }
}
/* Desktop */
@media only screen and (min-width:1000px) {
    .table td{
        padding: 0 16px;
        color: inherit;
        font-size: 1.1em;
    }
    .table th{
        font-size: 1.3em;
    }
}